
<div class = "container">
	<div class = "row">
		<div class = "span12">
			<div class="page-header">
				<h1>About</h1>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "span12">
			<h2>How to use Knoware?</h2>
			<ul>
				<li>Add an idea by going to <a href = "#/add">Add Idea!</a> page.</li>
				<li>Set the date on which it was posted on and review time.</li>
				<li>On the end of the review time you will be sent an email asking for reviewing the idea.</li>
				<li>You can the assign a status as approved or rejected for an idea.</li>
				<li>Approved ideas can be used and tracked.</li>
				<li>Rejected ideas can be tracked and ensured that it is not used.</li>
				<li>Rejected ideas can be sent back to review state.</li>
			</ul>
			<h2>Development</h2>
			<p>Knoware is built using AngularJs and the backend is build using PHP. Knoware uses Bootstrap for front end design.</p>
			<p>Knoware is open source, you can contribute at https://github.com/prathik/knoware.</p>
		</div>
	</div>

	<hr>

	<div class = "row">
		<div class = "span12 text-center">
			<p>Knoware</p>
		</div>
	</div>

</div>
