
<div class = "container">
	<div class = "row">
		<div class = "span12">
			<div class="page-header">
				<h1>About</h1>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "span12">
			<h3>How to use KnoWare?</h3>
			<ul>
				<li>Add an idea by going to <a href = "#/add">Add Idea!</a> page.</li>
				<li>Set the date on which it was posted on and review time.</li>
				<li>On the end of the review time you will be sent an email asking for reviewing the idea.</li>
				<li>You can the assign a status as approved or rejected for an idea.</li>
				<li>Approved ideas can be used and tracked.</li>
				<li>Rejected ideas can be tracked and ensured that it is not used.</li>
				<li>Rejected ideas can be sent back to review state.</li>
			</ul>
		</div>
	</div>
	<div class = "row">
		<div class = "span12">
			<h3>Why use KnoWare?</h3>
			<ul>
				<li>Track cool ideas and don't forget them.</li>
				<li>Form concepts and philosophies of life.</li>
				<li>Many decisions of life are made based on some reasoning, track them, you can reuse the reasoning if they work or keep track of why the reasoning didn't work.</li>
				<li>Put anything to test from scientific concepts to everyday small decisions.</li>
			</ul>
		</div>
	</div>

	<div class = "row">
		<div class = "span12">
			<h3>Example of using KnoWare</h3>
			<ol>
				<li>If you have an exam, you will make a study plan. Put that study plan on KnoWare and put the review time for 1 Week, check if you are meeting your goals with that study plan. If you are meeting your goals then approve the study plan and if you are not then reject it.</li>
				<li>You have to decide on using Surf Excel or Washing Powder Nirma for your clothes. Select Surf Excel first keep a review time of 1 week. If you had good results approve it. Select Nirma as a second idea and put it for a 1 week review, if you are happy with Nirma approve that too. If you like Nirma more than Surf Excel, reject Surf Excel as an idea and give the reason.</li>
				<li>You are a scientist and you need to check if your idea is good. Put the idea on KnoWare and set a review period. At the end of it you can approve or reject it. Later your collegue gets the same idea but sees your KnoWare result and his time will be saved. Note: Here we are using a group based KnoWare account.</li>
			</ol>

		</div>
	</div>

	<hr>

	<div class = "row">
		<div class = "span12 text-center">
			<p>KnoWare by Prathik Raj</p>
		</div>
	</div>

</div>
