
<div class="container">
	<div class = "row">
		<div class = "span12">
			<ul class = "nav nav-pills">
				<li class = "active"><a  href="#/add">Add Idea!</a></li>
				<li><a href="./">View Ideas</a></li>
			</ul>   

			<p class = "lead" >This is your dashboard, you can post new ideas and review old ones here.</p>
		</div>
	</div>


	<div class="row">
		<div class="span6">
			<h2>Add An Idea</h2>
			<form novalidate>
				<fieldset>
					<legend>What is your idea or thesis?</legend>
					<label>Title</label>
					<input  class = "input-xxlarge" ng-model= "idea.title" type ="text" placeholde= "Title" />
					<span class = "help-block">Enter the title for your idea or thesis.</span>
					<label>Description</label>
					<textarea rows = "15" class = "input-xxlarge" ng-model = "idea.description" placeholder = "Description">
					</textarea>
					<span class = "help-block">Write everything about your idea.</span>
					<label>Posted On</label>
					<input type = "text" id = "postedon" class = "input-small" ng-model = "idea.year" placeholder = "Year"/>
					<input type = "text" id = "postedon" class = "input-small" ng-model = "idea.month" placeholder = "Month"/>
					<input type = "text" id = "postedon" class = "input-small" ng-model = "idea.day" placeholder = "Day"/>
					<span class = "help-block">Enter the date on which the review should start.</span>
					<label>Review Time</label>
					<select class = "input-xxlarge" ng-model ="idea.review_on">
						<option>1</option>
						<option>2</option>
					</select>
					<span class = "help-block">Time after which review is complete.</span>
					<button class="btn btn-primary"  ng-click= "update(idea)" >Add!</button>
				</fieldset>
			</form>		
			<div ng-bind-html-unsafe="message"></div>
		</div>
		<div class = "span6">
		</div>
	</div>

	<hr>

	<div class = "row">
		<div class = "span12 text-center">
			<p>KnoWare by Prathik Raj</p>
		</div>
	</div>

</div> <!-- /container -->
