
<div class="container">
	<div class = "row">
		<div class = "span12">
			<ul class = "nav nav-pills">
				<li class = "active"><a href="./">View Ideas</a></li>
				<li><a  href="#/add">Add Idea!</a></li>
			</ul>   

		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h1>Thoughts Posted</h1>
			<table class = "table table-hover">
				<thead>
					<tr>
						<th style = "width: 64%">Title</th>
						<th style = "width: 12%">Posted On</th>
						<th style = "width: 12%">Review On</th>
						<th style = "width: 12%">State</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "idea in ideas" >
						<td><a href="#/ideas/{{idea.thesis_id}}">{{idea.title}}</a></td>
						<td>{{idea.posted_on}}</td>
						<td>{{idea.review_time}}</td>
						<td>{{idea.review_state}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	<div class = "row">
		<div class = "span12 text-center">
			<p>KnoWare</p>
		</div>
	</div>

</div> <!-- /container -->
