
<div class="container">
	<div class = "row">
		<div class = "span12">
			<ul class = "nav nav-pills">
				<li><a  href="#/add">Add Idea!</a></li>
				<li><a href="#/">View Ideas</a></li>
			</ul>   

		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h1>{{idea.title}} <small>{{idea.posted_on}}</small></h1>
			<h3>Status: {{idea.review_state}}</h3>
			<p ng-bind-html-unsafe="idea.description"></p>
			<p>Review On: <strong>{{idea.review_time}}</strong></p>
		</div>
	</div>
	<div class = "row">
		<div class = "span12">
			<h3>Set Status</h3>
		
			<div class = "btn-group"><button class = "btn btn-primary" ng-click= "approve(idea.thesis_id)">Approve</button> <button ng-click="reject(idea.thesis_id)" class ="btn">Reject</button><button class = "btn">Review</button></div>
	
		</div>
	</div>

	<hr>

	<div class = "row">
		<div class = "span12 text-center">
			<p>KnoWare by Prathik Raj</p>
		</div>
	</div>

</div> <!-- /container -->
