<?php

//Define your SALT here
define( 'SALT', '' );
class knoware_mysql {
	public $mysql;
	private $username = "root";
	private $password = "password";
	private $host = "localhost";
	private $database = "knoware";

	function __construct() {
		$this->mysql = new mysqli($this->host, $this->username, $this->password, $this->database);
	}

	function query( $query_string ) {
		return $this->mysql->query( $query_string );
	}

	function insert_user ( $username, $email, $password_hash, $fullname ) {
		return $this->query( "INSERT INTO users VALUES (NULL, '{$username}', '{$email}', '{$password_hash}', '{$fullname}')" );
	}

	function close() {
		$this->mysql->close();
	}

}
?>
